<div style="margin:1%" align="center">
  <div class="card background-light1" style="width: 22%;display:inline-block;margin:1%;" align="center">
    <div class="card-body">
      <span id="cdis" class="text-subtitle">...</span>
      <p class="card-text">contenus disponibles</p>
    </div>
  </div>
  <div class="card background-light1" style="width: 22%;display:inline-block;margin:1%;" align="center">
    <div class="card-body">
      <span id="cm" class="text-subtitle">...</span>
      <p class="card-text">en cours de modification</p>
    </div>
  </div>
  <div class="card background-light1" style="width: 22%;display:inline-block;margin:1%;" align="center">
    <div class="card-body">
      <span id="q" class="text-subtitle">...</span>
      <p class="card-text">en quarantaine</p>
    </div>
  </div>
  <div class="card background-light1" style="width: 22%;display:inline-block;margin:1%;" align="center">
    <div class="card-body">
      <span id="nsearch" class="text-subtitle">...</span>
      <p class="card-text">recherches</p>
    </div>
  </div>
</div>

<p class="text-heading" style="margin:1%;">Sur les dernières 24h</p>

<div style="width:48%;display:inline-block;float:left;margin:1%;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Termes les plus recherchées</th>
        <th scope="col">Nombre de recherches</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#1</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#2</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#3</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#4</th>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="width:48%;display:inline-block;float:right;margin:1%;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Contenus les plus visionnées</th>
        <th scope="col">Nombre de vues</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#1</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#2</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#3</th>
        <td>...</td>
      </tr>
      <tr>
        <th scope="row">#4</th>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</div>
