<div style="background-color:rgb(22, 23, 25);color:white !important;">
  <table class="table" style="color:white !important;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Article</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Vidéo</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>La naissance du soleil</td>
        <td>01/01/2018</td>
        <td>Podcast</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choix...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Consulter</a>
              <a class="dropdown-item" href="#">Supprimer</a>
              <a class="dropdown-item" href="#">Publier</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Suivant</a>
    </li>
  </ul>
</nav>
