<div class="box background-light1" style="margin-top:8%;" align="center">
  <span><img src="<%= image_url('mail_verif.png') %>" style="width:30%;max-width:30%;min-width:100px;" /></span></br>
  <span class="text-heading">Confirmez votre adresse e-mail</span></br>
  <span class="text-default">Afin de terminer votre inscription, veuillez suivre les instructions que nous avons transférées à <b>email_adress</b>.</span></br>
  </br>
  <div align="right">
    <!-- Bouton qui redirigerait vers un nouvel onglet de ce qu'il y a après le @ de l'utilisateur -->
    <button type="button" class="btn btn-secondary">Accéder à ma boîte mail</button>
    <button type="submit" class="btn btn-primary">Terminer</button>
  </div>
</div>
