<div class="box background-light1" style="margin-top:8%;" align="center">
  <span><img src="<%= image_url('id.png') %>" style="width:30%;max-width:30%;min-width:100px;" /></span></br>
  <span class="text-heading">Se connecter</span></br>
  <span class="text-default">Connectez-vous avec votre compte Culturation</span></br>
  </br>
  <form class="inputid">
    <div class="form-group ">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse e-mail ou identifiant">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
    </div>
    <div class="form-group form-check" align="right">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
      </br>
      </br>
      <button type="button" class="btn btn-secondary">Identifiants oubliés ?</button>
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
  </form>
</div>
<script>
  document.getElementById('nav_connect').classList.add('active');
</script>
