<div class="box background-light1" style="margin-top:8%;" align="center">
  <span><img src="<%= image_url('mail_confirmed.png') %>" style="width:30%;max-width:30%;min-width:100px;" /></span></br>
  <span class="text-heading">Adresse e-mail confirmée !</span></br>
  <span class="text-default">Vous pouvez désormais vous connecter à Culturation.</span></br>
  </br>
  <div align="right">
    <button type="button" class="btn btn-secondary">Redirection en cours...</button>
  </div>
</div>
